{% extends "::base.html.twig" %}

{% block content %}
    <h1>workshops list</h1>

    <ul class="collection">
        {% for workshop in workshops %}
            <li class="collection-item avatar">
                <i class="material-icons circle green">group_work</i>
                <span class="title">{{ workshop.name }}
                    <small>Czas trwania: {{ workshop.duration }}</small>
                </span>

                <p>Prowadzący: {{ workshop.prelegent }} <br>
                    {{ workshop.description }}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}