{% extends "::base.html.twig" %}

{% block content %}
    <h1>workshops list</h1>

    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle green">group_work</i>
            <span class="title">Title</span>
            <p>First Line <br>
                Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    </ul>
{% endblock %}