{% extends "::base.html.twig" %}

{% block content %}
    <h1>workshops list</h1>

    <ul class="collection">
        {% for workshop in workshops %}
            <li class="collection-item avatar">
                <i class="material-icons circle green">group_work</i>
                <span class="title">{{ workshop.name }}
                    <small>Czas trwania: {{ workshop.duration }}</small>
                </span>

                <p>Prowadzący: {{ workshop.speaker }} <br>
                    {{ workshop.description }}
                </p>
                {% block buttons %}{% endblock %}
            </li>
        {% else %}
            <li class="collection-item"><h3>Brak dostępnych warsztatów</h3></li>
        {% endfor %}
    </ul>
{% endblock %}